<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div class="container">
      <a href="validation.html" class="badge badge-primary mb-2 mt-4 d-block">
        <h4>Validation form page</h4>
      </a>
      <a href="scroll.html" class="badge badge-success mb-4 d-block">
        <h4>Scroll page</h4>
      </a>
      <form class="py-3" v-if="!isSubmit" @submit.prevent="isSubmit = true">
        <label class="d-block" for="email">Email</label>
        <input type="text" v-model="email" id="email" required />
        <hr />
        <label class="d-block" for="firstName">First name</label>
        <input type="text" v-model="firstName" id="firstName" required />
        <hr />
        <label class="d-block" for="lastName">Last name</label>
        <input type="text" v-model="lastName" id="lastName" required />
        <hr />
        <label class="d-block" for="phone">Phone</label>
        <input type="tel" v-model="phone" id="phone" required />
        <hr />
        <span>Guests </span>
        <button class="btn btn-primary" type="button" @click="addGuest">
          +
        </button>
        <hr />
        <div v-for="(guest, index) in guests">
          <label class="d-block" for="guest" @dblclick="removeGuest(index)"
            >Guest {{ index + 1 }}</label
          >
          <input type="text" v-model="guests[index]" id="guest" required />
          <hr />
        </div>

        <h3>Alert classes driven radio-buttons</h3>
        <div class="alert mb-3" :class="alertClassName">
          alertClassName = {{ alertClassName }}
        </div>

        <div class="form-check mb-1">
          <input
            class="form-check-input"
            type="radio"
            v-model="radioValue"
            id="exampleRadios1"
            value="warning"
          />
          <label class="form-check-label" for="exampleRadios1">
            Warning
          </label>
        </div>

        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="radio"
            v-model="radioValue"
            id="exampleRadios2"
            value="info"
          />
          <label class="form-check-label" for="exampleRadios2">
            Info
          </label>
        </div>

        <div class="mb-3">Value of radios = {{ radioValue }}</div>
        <hr>
        <h3>Table classes driven checkboxes</h2>
        <table class="table mb-3" :class="tableClassName">
          <tr>
            <td>some</td>
            <td>some</td>
          </tr>
          <tr>
            <td>some</td>
            <td>some</td>
          </tr>
          <tr>
            <td>some</td>
            <td>some</td>
          </tr>
        </table>
        <hr>
        <div class="mb-3">
          <div class="form-check mb-1" v-for="(value, name) in checkboxValues">
            <input
              class="form-check-input"
              type="checkbox"
              :id="name"
              v-model="checkboxValues[name]"
            />
            <label class="form-check-label" :for="name">
              {{ name }}
            </label>
          </div>
        </div>
        <hr>

        <h3>Alert styles driven inputs & button</h2>
        <button class="btn btn-primary mb-2" type="button" @click='height += 10'>height ++</button>
        <div class="alert mb-3" :style="[properties, alertHeight]">
          properties = {{ properties }} height = {{ alertHeight }}
        </div>
        <table class="table table-bordered">
          <tr>
            <th>name</th>
            <th>value</th>
            <th>input</th>
          </tr>
          <tr v-for="(value, name) in properties">
            <td>{{ name }}</td>
            <td>{{ value }}</td>
            <td>
                <input type="text" v-model="properties[name]">
            </td>
          </tr>
        </table>
        <hr>
        <button class="btn btn-success mt-5" type="submit">
          Send Data
        </button>
      </form>

      <template class="table" v-else>
        <h1>All done!</h1>
        <table class="table table-bordered table-info">
          <tr>
            <td>Email</td>
            <td>{{ email }}</td>
          </tr>
          <tr>
            <td>First name</td>
            <td>{{ firstName }}</td>
          </tr>
          <tr>
            <td>Last name</td>
            <td>{{ lastName }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ phone }}</td>
          </tr>
          <tr>
            <td>Guests</td>
            <td>
              <table class="table table-sm table-primary">
                <tr v-for="guest in guests">
                  <td>{{ guest }}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </template>
    </div>

    <style>
      .my-info {
        outline: 1px solid blue;
      }

      .my-warning {
        outline: 1px solid tomato;
      }

      .table-some {
        color: magenta;
        background-color: aqua;
      }

      .alert {
        transition: min-height 0.5s;
      }
    </style>

    <script>
      const element = new Vue({
        el: '.container',

        data: {
          email: '',
          firstName: '',
          lastName: '',
          phone: '',
          guests: [],
          isSubmit: false,
          radioValue: 'warning',
          checkboxValues: {
            'table-striped': false,
            'table-dark': false,
            'table-hover': false,
            'table-some': false
          },
          properties: {
            color: '',
            backgroundColor: '',
            border: '1px solid tomato'
          },
          height: 60
        },

        computed: {
          alertClassName() {
            return [`alert-${this.radioValue}`, `my-${this.radioValue}`];
          },

          tableClassName() {
            return this.checkboxValues;
          },

          alertHeight() {
            return {
              minHeight: `${this.height}px`
            }
          }
        },

        methods: {
          addGuest() {
            this.guests.push('');
          },

          removeGuest(index) {
            this.guests.splice(index, 1);
          }
        }
      });
    </script>
  </body>
</html>
