<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script src="js/vue.js"></script>
    <style>
      .content {
        height: 300px;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="form.html" class="badge badge-success mb-2  mt-4 d-block">
        <h4>Main form page</h4>
      </a>
      <a href="validation.html" class="badge badge-primary mb-4 d-block">
        <h4>Validation form page</h4>
      </a>
      <div class="sample">
        <form>
          <div class="content alert alert-info" @scroll="displayOnScroll($event)">
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
            <p>
              This text no one reads. This text no one reads. This text no one
              reads.
            </p>
          </div>
          <div class="form-check" v-for="(item, index) in checkboxes" v-if="isScrolled">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                :checked="item.isChecked"
                v-model="item.isChecked"
              />
              {{ item.label }}
            </label>
          </div>
          <div class="form-check" v-for="(label, index) in radioButtons" v-if="checkboxes[1].isChecked">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" />
              {{ label }}
            </label>
          </div>
          <hr />
          <button class="btn btn-primary">
            Send Data
          </button>
        </form>
      </div>
    </div>
    <script>
      new Vue({
        el: '.sample',

        data: {
          checkboxes: [
            {
              label: 'I agree this text',
              isDisplayed: false,
              isChecked: false
            },
            {
              label: 'Send me spam',
              isDisplayed: false,
              isChecked: false
            },
          ],
          radioButtons: [
            'Send me span on email',
            'Send me span on phone',
          ],
          isScrolled: false
        },

        methods: {
          displayOnScroll(evt) {
            const currentYCoord = evt.target.scrollHeight;
            const bottomYCoord = evt.target.scrollTop + evt.target.clientHeight;
            if (bottomYCoord - currentYCoord === 0) {
              this.isScrolled = true;
            }
          }
        },
      });
    </script>
  </body>
</html>
