<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Validation form page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <a href="form.html" class="badge badge-primary mb-2 mt-4 d-block">
        <h4>Main form page</h4>
      </a>
      <a href="scroll.html" class="badge badge-success mb-4 d-block">
        <h4>Scroll page</h4>
      </a>
      <div class="sample">
        <form>
          <div class="progress">
            <div class="progress-bar" :style="progressBarWidth"></div>
          </div>
          <div>
            <app-input 
              v-for="(item, index) in info"
              :key="index"
              :name="item.name"
              :value="item.value"
              :pattern="item.pattern"
              @change-field-data="onChangeFieldData(index, $event)"
              >
            </app-input>
          </div>
          <button class="btn btn-primary" :disabled="formIsValid">
            Send Data
          </button>
        </form>
      </div>
    </div>

    <style>
      .fa-check-circle {
        color: green;
      }

      .fa-exclamation-circle {
        color: red;
      }
    </style>

    <script>
      Vue.component('appInput', {
        props: ['name', 'value', 'pattern'],

        template: `
          <div class="form-group">
            <label class="mr-2">{{ name }}</label>
            <i
              v-if="isActivated"
              class="fas"
              :class=" classOnValidation"
            >
            </i>
            <input 
              type="text"
              class="form-control"
              :value="value"
              @input="onInput($event)"
            />
          </div> 
        `,

        data() {
          return {
            isActivated: this.value != ''
          }
        },

        computed: {
          classOnValidation() {
            return this.isValid ? 'fa-check-circle' : 'fa-exclamation-circle'
          },

          isValid() {
            return this.pattern.test(this.value);
          }
        },

        methods: {
          onInput(evt) {
            this.isActivated = true;
            this.$emit('change-field-data', {
              value: evt.target.value,
              isValid: this.isValid
            });
          },
        }

      });

      new Vue({
        el: '.sample',

        data: {
          info: [
            {
              name: 'Name',
              value: '',
              pattern: /^[a-zA-Z ]{2,30}$/,
            },
            {
              name: 'Phone',
              value: '',
              pattern: /^[0-9]{7,14}$/,
            },
            {
              name: 'Email',
              value: '',
              pattern: /[\w-]+@([\w-]+\.)+[\w-]+/,
            }
          ],
        },

        computed: {
          progressBarWidth() {
            return {
              width: `${100 / this.info.length * this.validFieldCount}%`
            } 
          },

          formIsValid() {
            return this.info.find(item => !item.isValid);
          }
        },

        methods: {
          onChangeFieldData(index, data) {
            this.info[index].value = data.value;
          }
        },

        beforeMount() {
          this.info.forEach(item => {
            this.$set(item, 'isValid', false);
            this.$set(item, 'isChecked', false);
          });
        },
        
      });
    </script>
  </body>
</html>
